:root {
    font-weight: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700px;
    background-color: #b3e9f3;
}

.Principal-Titulo {
    background-color: #6590d1;
    border-radius: 3px, 3px #48789f;
}

.Foto {
    width: 300px;
    height: auto;
}