body {
    background-image: url("./60e5a1c72e0f95355a1db00a638d6abe.jpg");
    background-position: 50%;
    background-attachment:scroll
}


#p1 {
    /*border-width: 2px;
    border-color: aqua;
    border-style: solid; Forma abaixo pra resumir */
    border: groove 20px rgb(166, 36, 39);
    text-align: center;

}

#p2 {
    border: inset 15px blueviolet;
    width: 300px;
    height: auto;
    text-align: center;
}

figure {
    border: 5px solid;
    border-radius: 10px;
    text-align: center;
}

#p3 {
    text-shadow: 10px 10px 4 px black;
}