body{
    text-align: center;
    background-color: rgb(157, 208, 191);
}

.containder{
    display: grid;
    /*4 colunas (colum)*/
    grid-template-columns: repeat(4, 50px);
     /*50px 50px 50px 50px;*/
    /* 4 linhas (row) acima é pra simplificar*/ 

    grid-template-rows: 25px 25px 25px 25px;
}

.item{
    border: 2px solid black;
    background-color: rgb(185, 219, 94);
}