body {
    text-align: center;
    background-color: rgb(157, 208, 191);
}

.container {
    display: grid;
    /*4 colunas (colum)*/
    grid-template-columns: repeat(4, 50px);
    /*50px 50px 50px 50px;*/
    /* 4 linhas (row) acima é pra simplificar*/
    grid-template-rows: 25px 25px 25px 25px;
    column-gap: 50px;
    /*código do espaçamento, ou se quiser resumir: gap XXpx XXpx*/
    row-gap: 50px;
    justify-items: center;
    /*alinha as retas (filhos);
    Justify - Horizontal;
    Align - Vertical;*/
    align-items: center;
    justify-content: space-evenly;
    /*(content- mexe o conteúdo (grid) total */
}

.item {
    border: 2px solid black;
    background-color: rgb(185, 219, 94);
    height: 50px;
    width: 50px;
}

.item-1 {
    grid-area: estrela;
}

.item-2 {
    grid-area: lua;
}

.item-3 {
    grid-area: sol;
}

.item-4 {
    grid-area: lua;
}